*{
    margin: 0;
    padding: 0;
}


html{
    background-color: #96DAE9;
    font-size: 16px;
    font-family: 'Cabin', 'Roboto Condensed', sans-serif;
}

/* Title */
.title-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.back-button{
    grid-column: 1/2;
    display: none;
    justify-content: end;
    align-items: flex-end;
}
.back-button-text{
    margin-bottom: 1rem;
    margin-right: 3rem;
    font-size: 2.2rem;
    display: none;
}
.back-button-text:hover{
    font-size: 2.7rem;
}
.back-button-text:active{
    font-size: 2rem;
}
.title{
    grid-column: 2/3;
    font-size: 4rem;
    color: #033941;
    text-shadow: #01262B -0.2rem -0.05rem;
    text-align: center;
    margin-top: 4.2rem;
}
.lock-emoji{
    font-size: 4rem;
    position: relative;
    top: 1rem;
    left: 48%;
}

/*Form*/
.password-request{
    display: none;
    justify-content: center;
    align-items: center;

    height: 20rem;
}
.password-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    height: 12rem;
    width: 30rem;

    border-radius: 1rem;
}
.password-input{
    height: 40%;
    width: 70%;
    font-size: 2.7rem;
}
.password-input:focus{
    outline: none;
}
.password-submit{
    display: flex;
    height: 41%;
    width: 15%;
    margin-left: 5%;
    text-align: center;
    background-color: #FFF;
    justify-content: center;
    align-items: center;

    border: #000 solid 0.2rem;
    border-radius: 1.2rem;
}
.password-submit:hover{
    animation-name: passwordSubmitColor;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}


/*Unlocked Body*/
.vault-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 4.5rem;

    height: 25rem;

    justify-items: center;
    align-items: center;

    display: none;
}
.small-vaults{
    width: 24rem;
    height: 14rem;
    font-size: 2.2rem;
    color: #FFF;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1.2rem;
    font-family: 'Roboto Condensed';
}
.small-vaults:hover{
    width: 28rem;
    height: 16rem;
    font-size: 2.8rem;  
}

.HTML-vault{
    grid-column: 1/2;

    background-color: #3EBC3C;
    justify-self: flex-end;
}
.CSS-vault{
    grid-column: 2/3;

    background-color: #1CA7D2;
}
.JS-vault{
    grid-column: 3/4;

    background-color: #966BB8;
    justify-self: flex-start;
}
.small-vault-emojis{
    font-size: 3rem;
}


/*footer */
.footer-text1{
    text-align: center;
    font-size: 2.6rem;

    position: relative;
    top: 2rem;
}
.footer-text2{
    text-align: center;
    font-size: 3rem;

    position: relative;
    top: 2rem;
}



/* test */

@keyframes passwordSubmitColor {
    from {background-color: #FFF;}
    to {background-color: #3EBC3C;}
}



/*opening boxes*/
.unlocked-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}
.list-item:hover{
    font-size: 2.4rem;
    font-weight: 900;
    color: #FFF;
}

/*html unlocked*/
.unlocked-html{
    height: 28rem;
    width: 70rem;
    background-color: #3EBC3C;
    border-radius: 6rem;
    grid-column: 1/4;
    display: none;
    margin: 1.5rem;

    border: #3A9900 double 2rem;
}

/*CSS unlocked*/
.unlocked-css{
    height: 32rem;
    width: 70rem;
    background-color: #1CA7D2;
    border-radius: 6rem;
    grid-column: 1/4;
    display: none;
    margin: 1.5rem;

    border: #0D7494 double 2rem;
}
/*Js unlocked*/
.unlocked-js{
    height: 30rem;
    width: 70rem;
    background-color: #966BB8;
    border-radius: 6rem;
    grid-column: 1/4;
    display: none;
    margin: 1.5rem;

    border: #A14FE1 double 2rem;
}
/* unclocked applies to all*/
.resources-title{
    position: relative;
    top: 1rem;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: underline;
}
.list{
    position: relative;
    top: 4rem;
    list-style: none;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
}

@media only screen and (min-width: 200px) and (max-width: 350px){
    html{
        font-size: 8px;
    }

    .lock-emoji{
        left: 18rem;
    }
    .footer-text1{
        top: 15rem;
    }

    .footer-text2{    
        top: 15rem;
    }
    .vault-container{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }
    .HTML-vault{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .CSS-vault{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .JS-vault{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    footer{
        margin-top: 11.5rem;
    }
    .small-vaults:hover{
        width: 24rem;
        height: 14rem;
        font-size: 2.2rem;
    }
    .back-button-text:hover{
        font-size: 2.2rem;
    }
    .back-button-text:active{
        font-size: 2rem;
    }
    .list-item:hover{
        font-size: 2rem;
    }
    .list-item:active{
        color: #FFF;
        font-size: 2.2rem;;
    }
    .unlocked-html{
        margin: 3rem;
        height: 33rem;
        width: 30rem;
    }
    .unlocked-css{
        margin: 3rem;
        height: 35.5rem;
        width: 30rem;
    }
    .unlocked-js{
        margin: 3rem;
        height: 30rem;
        width: 30rem;
    }
}

@media only screen and (min-width: 330px) and (max-width: 480px){
    html{
        font-size: 12px;
    }
    .lock-emoji{
        left: 18rem;
    }
    .footer-text1{
        top: 15rem;
    }

    .footer-text2{    
        top: 15rem;
    }
    .vault-container{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }
    .HTML-vault{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .CSS-vault{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .JS-vault{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    footer{
        margin-top: 11.5rem;
    }
    .small-vaults:hover{
        width: 24rem;
        height: 14rem;
        font-size: 2.2rem;
    }
    .back-button-text:hover{
        font-size: 2.2rem;
    }
    .back-button-text:active{
        font-size: 2rem;
    }
    .list-item:hover{
        font-size: 2rem;
    }
    .list-item:active{
        color: #FFF;
        font-size: 2.2rem;;
    }
    .unlocked-html{
        margin: 3rem;
        height: 33rem;
        width: 30rem;
    }
    .unlocked-css{
        margin: 3rem;
        height: 35.5rem;
        width: 30rem;
    }
    .unlocked-js{
        margin: 3rem;
        height: 30rem;
        width: 30rem;
    }
}


@media only screen and (min-width: 480px) and (max-width: 850px){
    html{
        font-size: 16px;
    }
    .lock-emoji{
        left: 18rem;
    }
    .footer-text1{
        top: 15rem;
    }

    .footer-text2{    
        top: 15rem;
    }
    .vault-container{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }
    .HTML-vault{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .CSS-vault{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .JS-vault{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    footer{
        margin-top: 11.5rem;
    }
    .small-vaults:hover{
        width: 24rem;
        height: 14rem;
        font-size: 2.2rem;
    }
    .back-button-text:hover{
        font-size: 2.2rem;
    }
    .back-button-text:active{
        font-size: 2rem;
    }
    .list-item:hover{
        font-size: 2rem;
    }
    .list-item:active{
        color: #FFF;
        font-size: 2.2rem;;
    }
    .unlocked-html{
        margin: 3rem;
        height: 33rem;
        width: 30rem;
    }
    .unlocked-css{
        margin: 3rem;
        height: 35.5rem;
        width: 30rem;
    }
    .unlocked-js{
        margin: 3rem;
        height: 30rem;
        width: 30rem;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1400px){
    html{
        font-size: 14px;
    }
}